if user
  #footer
    .container
      ul.list-inline.pull-left
        li MIT Licensing 
        li This tool is in no way affilliated with Github. All images, rights, and trademarks reserved by their respective owners.
      ul.list-inline.pull-right
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=therebelrobot&repo=octostar&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=therebelrobot&repo=octostar&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=therebelrobot&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="180" height="20")
        li
          a(href='https://github.com/therebelrobot/octostar/issues') Issues
