#footer
  .container
    ul.list-inline.pull-left
      li MIT Licensing 
      li This tool is in no way affilliated with Github. All images, rights, and trademarks reserved by their respective owners.
    ul.list-inline.pull-right
      li
        a(href='https://github.com/therebelrobot/octostar') GitHub Project
      li
        a(href='https://github.com/therebelrobot/octostar/issues') Issues
