extends layout

block content
    if !user
        #login-block.col-md-6
            h1 Octostar
            h2 An open-source Github Star Organizer
            p
                | Feel free to look around. Sign in using your github account. Once logged in, you can tag, sort, and otherwise organize your github starred repos.
            form(method='POST')
                legend Sign In
                input(type='hidden', name='_csrf', value=token)
                .col-sm-8.col-sm-offset-2
                    if secrets.githubAuth
                        a.btn.btn-block.btn-github.btn-social(href='/auth/github')
                            i.fa.fa-github
                            | Sign in with GitHub
    else
        #sidebar.col-md-3
            em#last-synced(v-show="lastSynced == 'never'") Retrieving Stars...
            em#last-synced(v-show="lastSynced !== 'never'") Last synced {{lastSynced}}
            button#sync-account.btn.btn.btn-primary.btn-sm(v-on='click:forceSync',v-show="lastSynced !== 'never'")
                | &nbsp;
                i.fa.fa-refresh
            hr.activehr
            h4 Sort By:
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:sortby("original-order")') Date Starred
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:sortby("name")') Name
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:sortby("owner")') owner
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:sortby("language")') language
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:sortby("created")') created
            select.selectpicker.sort
                option.sort(data-icon="fa-star",value='original-order') Date Starred
                option.sort(data-icon="fa-font",value='name') Repo Name
                option.sort(data-icon="fa-user",value='owner') Repo Owner
                option.sort(data-icon="fa-code",value='language') Language
                option.sort(data-icon="fa-calendar",value='created') Date Created
            hr.activehr
            h4 Filters
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("*")') None
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("javascript")') Javascript
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("css")') css
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("coffeescript")') coffeescript
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("c")') c
            //- button.btn.btn.btn-primary.btn-sm(v-on='click:filterby("unknown")') unknown
            
            select.selectpicker.filter(multiple='',data-selected-text-format="values",title="Language")
                option.filter(v-repeat='lang: languages',value=".{{lang | langfilter}}") {{lang}}

        #main-content.col-md-9.clearfix
            .bs-callout.col-md-4.repo(v-repeat="repos.remote" v-effect="isotopereinit" data-language='{{language | langfilter}}' data-name='{{name}}' data-owner='{{owner.login}}' data-created='{{created_at}}' data-tag='{{tags | list}}' class='{{language | langfilter}} repo-{{$index}}')
                
                h5.title(title="{{name}}") {{name | titlebrief}} 
                    a.small(href="{{clone_url}}",target="_blank")
                        i.small.fa.fa-external-link
                span.language(class="{{language | lowercase}}") {{language || 'Unknown'}} 
                span.owner {{owner.login}}
                span.date-created created {{created_at | timeago}} 
                p.description {{description | brief}}
                .tags
                    span.tag(v-repeat="tag: tags"){{tag}}
                    span.tag Lorem Ipsum
                    span.tag.add(v-on="click:addTag(name, created_at)",data-toggle="modal",data-target="#myModal")
                        i.fa.fa-pencil
        #myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                        h4#myModalLabel.modal-title Modal title
                      .modal-body
                        | Lorem Ipsum
                      .modal-footer
                        button.btn.btn-default(type="button",data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save changes
