extends layout

block content
    if !user
        #welcome-block.col-md-12
            img(src="img/octostar-title.png", alt="Octostar")
            h2 An open-source Github Star Organizer
            .row.clearfix.icons
                .col-md-4
                    h1 
                        i.fa.fa-sitemap
                    h3 Organize
                .col-md-4
                    h1
                        i.fa.fa-sort-alpha-asc
                    h3 Sort
                .col-md-4
                    h1
                        i.fa.fa-tags
                    h3 Manage
            .row.clearfix.welcometext
                .col-md-6
                    h4 Welcome to the public beta of Octostar.io!
                    p
                        | Octostar is a pet project of Trent Oswald, and was born out of necessity. 
                        | Upon realizing his star list was well into the multiple hundreds, Trent
                        | realized he needed a more effecient way of organizing his bookmarks. 
                    p
                        | Octostar is still in pre-release beta, so features may come and go,
                        | and you may experience odd bugs during usage. If you come across one,
                        | please make sure to log a Github issue for it.
                    p
                        | This is a work done in my spare time. If you would like to contribute,
                        | feel free to read the contributing guide on Github. If you don't code
                        | and still want to help, please consider donating.
                .col-md-6
                    h3 Features still under way:
                    p Tagging system
                    p Search dialog
                    p Unstar a repo 
                    p Smoother transitions and user feedback
            .row
                p.fine MIT Licensing | This tool is in no way affilliated with Github. All images, rights, and trademarks reserved by their respective owners.
    else
        #sidebar.col-md-3
            em#last-synced(v-show="lastSynced == 'never'") Retrieving Stars...
            em#last-synced(v-show="lastSynced !== 'never'") Last synced {{lastSynced}}
            button#sync-account.btn.btn.btn-primary.btn-sm(v-on='click:forceSync',v-show="lastSynced !== 'never'")
                | &nbsp;
                i.fa.fa-refresh
            hr.activehr
            .input-group
                input.form-control(type="text",placeholder="Search",name="srch-term", v-model="srchterm")
                .input-group-btn
                    button.btn.btn-default(type="submit", v-on="click:srchterm = ''", v-class="btn-primary:srchterm != ''")
                        i.fa.fa-search(v-show="srchterm == ''")
                        i.fa.fa-times(v-show="srchterm != ''")
            h5 Filter by Language
            h5 Filter by Tag
        #main-content.col-md-9.clearfix
            .bs-callout.repo(v-repeat="repos.remote | filterBy srchterm", v-class="open:open, selected:selected",data-language='{{language | langfilter}}' data-name='{{name}}' data-owner='{{owner.login}}' data-created='{{created_at}}' data-tag='{{tags | list}}',class='{{language | langfilter}} repo-{{created_at}}')
                i.openthis.fa.fa-caret-right(v-show="!open" v-on="click:open = true")
                i.openthis.fa.fa-caret-down(v-show="open" v-on="click:open = false")
                input.reposelect(type="checkbox", v-model="selected" name="select-repo-{{created_at}}" id="select-repo-{{created_at}}")
                label.reposelectlabel(for="select-repo-{{created_at}}")
                    i.fa.fa-check-square-o(v-show="selected")
                    i.fa.fa-square-o(v-show="!selected")
                h5.title(title="{{name}}" v-on="click:open = !open") {{name}} 
                span.language(class="{{language | lowercase}}") {{language || 'Unknown'}} 
                a.url.small(href="{{clone_url}}",target="_blank")
                    | {{owner.login}} 
                    i.small.fa.fa-external-link
                //- span.date-created created {{created_at | timeago}} 
                p.description(v-show="open") {{description}}
                .tags
                    span.tag(v-repeat="tag: tags") {{tag}}
                    span.tag Lorem Ipsum
                    span.tag.add(v-on="click:open = true")
                        i.fa.fa-pencil
                    //- span.tag.add(v-on="click:addTag(name, created_at)",data-toggle="modal",data-target="#myModal")
                    //-     i.fa.fa-pencil
        #myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                        h4#myModalLabel.modal-title Modal title
                      .modal-body
                        | Lorem Ipsum
                      .modal-footer
                        button.btn.btn-default(type="button",data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save changes
