var gulp         = require('gulp');
var compass      = require('gulp-compass');
var notify       = require('gulp-notify');

var handleErrors = require('../util/handleErrors');
var paths        = require('../config/paths');

gulp.task('compass', function() {
  return gulp.src(paths.scss.src)
    .pipe(compass({
      config_file: 'gulp/config/compass.rb',
      css: paths.scss.dest,
      sass: paths.scss.src
    }))
    .on('error', handleErrors);
});