/* 
	Font sizes 
		ref: http://www.google.com/design/spec/style/typography.html#typography-standard-styles	
*/


@mixin fontsize ($size:auto) {
	@if $size == auto { // default to body1
		font-size:14px;
		font-weight:normal;
	}
	@else if $size == display4 {
		font-size:112px;
		font-weight:200;
	}
	@else if $size == display3 {
		font-size:56px;
		font-weight:normal;
	}
	@else if $size == display2 {
		font-size:45px;
		font-weight:normal;
	}
	@else if $size == display1 {
		font-size:34px;
		font-weight:normal;
	}
	@else if $size == headline {
		font-size:24px;
		font-weight:normal;
	}
	@else if $size == title {
		font-size:20px;
		font-weight:600;
	}
	@else if $size == subhead {
		font-size:16px;
		font-weight:normal;
	}
	@else if $size == body2 {
		font-size:14px;
		font-weight:600;
	}
	@else if $size == body1 {
		font-size:14px;
		font-weight:normal;
	}
	@else if $size == caption {
		font-size:12px;
		font-weight:normal;
	}
	@else if $size == super {
		font-size:10px;
		font-weight:200;
	}
	@else if $size == menu {
		font-size:14px;
		font-weight:600;
	}
	@else if $size == button {
		font-size:14px;
		font-weight:bold;
		text-transform:uppercase;
	}
}