
// @mixin font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
// 	@font-face {
// 		font-family: '#{$font-family}';
// 		src: url(font-path('#{$font-filename}.eot'));
// 		src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
// 		url(font-path('#{$font-filename}.woff')) format('woff'),
// 		url(font-path('#{$font-filename}.ttf')) format('truetype'),
// 		url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
// 		font-weight: $font-weight;
// 		font-style: $font-style;
// 		font-stretch: $font-stretch;
// 	}
// }

@mixin font-face($family,$src,$weight: normal,$style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}