* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'CooperHewitt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include fontsize();
  background: #fff;
  color: $dark-text-main;
}
.container{
	max-width:1040px;
	width:100%;
	margin:auto;
	display:block;
}