#maincontainer #repocontainer{

  .repo.antlr{
    h5.title{
      background-color:#9dc3ff;
    }
  }
  .repo.asp{
    h5.title{
      background-color:#6a40fd;
    }
  }
  .repo.ats{
    h5.title{
      background-color:#1ac620;
    }
  }
  .repo.actionscript{
    h5.title{
      background-color:#e3491a;
    }
  }
  .repo.ada{
    h5.title{
      background-color:#02f88c;
    }
  }
  .repo.agda{
    h5.title{
      background-color:#467c91;
    }
  }
  .repo.alloy{
    h5.title{
      background-color:#cc5c24;
    }
  }
  .repo.arc{
    h5.title{
      background-color:#ca2afe;
    }
  }
  .repo.arduino{
    h5.title{
      background-color:#bd79d1;
    }
  }
  .repo.aspectj{
    h5.title{
      background-color:#1957b0;
    }
  }
  .repo.assembly{
    h5.title{
      background-color:#a67219;
    }
  }
  .repo.autohotkey{
    h5.title{
      background-color:#6594b9;
    }
  }
  .repo.autoit{
    h5.title{
      background-color:#36699b;
    }
  }
  .repo.boo{
    h5.title{
      background-color:#d4bec1;
    }
  }
  .repo.c{
    h5.title{
      background-color:#555;
    }
  }
  .repo.csharp{
    h5.title{
      background-color:#5a25a2;
    }
  }
  .repo.cpp{
    h5.title{
      background-color:#f34b7d;
    }
  }
  .repo.css{
    h5.title{
      background-color:#563d7c;
    }
  }
  .repo.cirru{
    h5.title{
      background-color:#aaaaff;
    }
  }
  .repo.clean{
    h5.title{
      background-color:#3a81ad;
    }
  }
  .repo.clojure{
    h5.title{
      background-color:#db5855;
    }
  }
  .repo.coffeescript{
    h5.title{
      background-color:#244776;
    }
  }
  .repo.coldfusion{
    h5.title{
      background-color:#ed2cd6;
    }
  }
  .repo.common-lisp{
    h5.title{
      background-color:#3fb68b;
    }
  }
  .repo.component-pascal{
    h5.title{
      background-color:#b0ce4e;
    }
  }
  .repo.d{
    h5.title{
      background-color:#fcd46d;
    }
  }
  .repo.dm{
    h5.title{
      background-color:#075ff1;
    }
  }
  .repo.dart{
    h5.title{
      background-color:#98bad6;
    }
  }
  .repo.dogescript{
    h5.title{
      background-color:#cca760;
    }
  }
  .repo.dylan{
    h5.title{
      background-color:#3ebc27;
    }
  }
  .repo.e{
    h5.title{
      background-color:#ccce35;
    }
  }
  .repo.ecl{
    h5.title{
      background-color:#8a1267;
    }
  }
  .repo.eagle{
    h5.title{
      background-color:#3994bc;
    }
  }
  .repo.eiffel{
    h5.title{
      background-color:#946d57;
    }
  }
  .repo.elixir{
    h5.title{
      background-color:#6e4a7e;
    }
  }
  .repo.emacs-lisp{
    h5.title{
      background-color:#c065db;
    }
  }
  .repo.erlang{
    h5.title{
      background-color:#0faf8d;
    }
  }
  .repo.fsharp{
    h5.title{
      background-color:#b845fc;
    }
  }
  .repo.flux{
    h5.title{
      background-color:#33ccff;
    }
  }
  .repo.fortran{
    h5.title{
      background-color:#4d41b1;
    }
  }
  .repo.factor{
    h5.title{
      background-color:#636746;
    }
  }
  .repo.fancy{
    h5.title{
      background-color:#7b9db4;
    }
  }
  .repo.fantom{
    h5.title{
      background-color:#dbded5;
    }
  }
  .repo.forth{
    h5.title{
      background-color:#341708;
    }
  }
  .repo.frege{
    h5.title{
      background-color:#00cafe;
    }
  }
  .repo.game-maker-language{
    h5.title{
      background-color:#8ad353;
    }
  }
  .repo.glyph{
    h5.title{
      background-color:#e4cc98;
    }
  }
  .repo.gnuplot{
    h5.title{
      background-color:#f0a9f0;
    }
  }
  .repo.go{
    h5.title{
      background-color:#375eab;
    }
  }
  .repo.gosu{
    h5.title{
      background-color:#82937f;
    }
  }
  .repo.grammatical-framework{
    h5.title{
      background-color:#ff0000;
    }
  }
  .repo.groovy{
    h5.title{
      background-color:#e69f56;
    }
  }
  .repo.harbour{
    h5.title{
      background-color:#0e60e3;
    }
  }
  .repo.haskell,
  .repo.c2hs-haskell,
  .repo.literate-haskell {
    h5.title{
      background-color:#29b544;
    }
  }
  .repo.haxe{
    h5.title{
      background-color:#f7941e;
    }
  }
  .repo.html{
    h5.title{
      background-color:#f7941e;
    }
  }
  .repo.hy{
    h5.title{
      background-color:#7891b1;
    }
  }
  .repo.idl{
    h5.title{
      background-color:#e3592c;
    }
  }
  .repo.io{
    h5.title{
      background-color:#a9188d;
    }
  }
  .repo.ioke{
    h5.title{
      background-color:#078193;
    }
  }
  .repo.isabelle{
    h5.title{
      background-color:#fdcd00;
    }
  }
  .repo.java{
    h5.title{
      background-color:#b07219;
    }
  }
  .repo.javascript{
    h5.title{
      background-color:#e67e22;
    }
  }
  .repo.julia{
    h5.title{
      background-color:#a270ba;
    }
  }
  .repo.krl{
    h5.title{
      background-color:#f5c800;
    }
  }
  .repo.lfe{
    h5.title{
      background-color:#004200;
    }
  }
  .repo.lasso{
    h5.title{
      background-color:#2584c3;
    }
  }
  .repo.latte{
    h5.title{
      background-color:#a8ff97;
    }
  }
  .repo.livescript{
    h5.title{
      background-color:#499886;
    }
  }
  .repo.lua{
    h5.title{
      background-color:#fa1fa1;
    }
  }
  .repo.mtml{
    h5.title{
      background-color:#0095d9;
    }
  }
  .repo.mask{
    h5.title{
      background-color:#f97732;
    }
  }
  .repo.matlab{
    h5.title{
      background-color:#bb92ac;
    }
  }
  .repo.max{
    h5.title{
      background-color:#ce279c;
    }
  }
  .repo.mercury{
    h5.title{
      background-color:#abcdef;
    }
  }
  .repo.mirah{
    h5.title{
      background-color:#c7a938;
    }
  }
  .repo.nemerle{
    h5.title{
      background-color:#0d3c6e;
    }
  }
  .repo.netlogo{
    h5.title{
      background-color:#ff2b2b;
    }
  }
  .repo.nimrod{
    h5.title{
      background-color:#37775b;
    }
  }
  .repo.nu{
    h5.title{
      background-color:#c9df40;
    }
  }
  .repo.ocaml{
    h5.title{
      background-color:#3be133;
    }
  }
  .repo.objective-c{
    h5.title{
      background-color:#438eff;
    }
  }
  .repo.objective-cpp{
    h5.title{
      background-color:#4886fc;
    }
  }
  .repo.objective-j{
    h5.title{
      background-color:#ff0c5a;
    }
  }
  .repo.omgrofl{
    h5.title{
      background-color:#cabbff;
    }
  }
  .repo.oxygene{
    h5.title{
      background-color:#5a63a3;
    }
  }
  .repo.pawn{
    h5.title{
      background-color:#dbb284;
    }
  }
  .repo.php{
    h5.title{
      background-color:#4f5d95;
    }
  }
  .repo.pan{
    h5.title{
      background-color:#cc0000;
    }
  }
  .repo.parrot{
    h5.title{
      background-color:#f3ca0a;
    }
  }
  .repo.pascal{
    h5.title{
      background-color:#b0ce4e;
    }
  }
  .repo.perl{
    h5.title{
      background-color:#0298c3;
    }
  }
  .repo.perl6{
    h5.title{
      background-color:#0298c3;
    }
  }
  .repo.pike{
    h5.title{
      background-color:#066ab2;
    }
  }
  .repo.pogoscript{
    h5.title{
      background-color:#d80074;
    }
  }
  .repo.processing{
    h5.title{
      background-color:#2779ab;
    }
  }
  .repo.prolog{
    h5.title{
      background-color:#74283c;
    }
  }
  .repo.propeller-spin{
    h5.title{
      background-color:#2b446d;
    }
  }
  .repo.puppet{
    h5.title{
      background-color:#cc5555;
    }
  }
  .repo.pure-data{
    h5.title{
      background-color:#91de79;
    }
  }
  .repo.purescript{
    h5.title{
      background-color:#bcdc53;
    }
  }
  .repo.python,
  .repo.cython,
  .repo.python-traceback,
  .repo.sage,
  .repo.numpy {
    h5.title{
      background-color:#3581ba;
    }
  }
  .repo.qml{
    h5.title{
      background-color:#44a51c;
    }
  }
  .repo.r{
    h5.title{
      background-color:#198ce7;
    }
  }
  .repo.racket{
    h5.title{
      background-color:#ae17ff;
    }
  }
  .repo.ragel-in-ruby-host{
    h5.title{
      background-color:#ff9c2e;
    }
  }
  .repo.rebol{
    h5.title{
      background-color:#358a5b;
    }
  }
  .repo.red{
    h5.title{
      background-color:#ee0000;
    }
  }
  .repo.rouge{
    h5.title{
      background-color:#cc0088;
    }
  }
  .repo.ruby{
    h5.title{
      background-color:#701516;
    }
  }
  .repo.rust{
    h5.title{
      background-color:#dea584;
    }
  }
  .repo.sas{
    h5.title{
      background-color:#1e90ff;
    }
  }
  .repo.scala{
    h5.title{
      background-color:#7dd3b0;
    }
  }
  .repo.scheme{
    h5.title{
      background-color:#1e4aec;
    }
  }
  .repo.self{
    h5.title{
      background-color:#0579aa;
    }
  }
  .repo.shell,
  .repo.batchfile,
  .repo.tcsh,
  .repo.fish,
  .repo.gentoo-ebuild,
  .repo.gentoo-eclass {
    h5.title{
      background-color:#5861ce;
    }
  }
  .repo.shen{
    h5.title{
      background-color:#120f14;
    }
  }
  .repo.slash{
    h5.title{
      background-color:#007eff;
    }
  }
  .repo.slim{
    h5.title{
      background-color:#ff8877;
    }
  }
  .repo.smalltalk{
    h5.title{
      background-color:#596706;
    }
  }
  .repo.sourcepawn{
    h5.title{
      background-color:#f69e1d;
    }
  }
  .repo.standard-ml{
    h5.title{
      background-color:#dc566d;
    }
  }
  .repo.supercollider{
    h5.title{
      background-color:#46390b;
    }
  }
  .repo.swift{
    h5.title{
      background-color:#ffac45;
    }
  }
  .repo.systemverilog{
    h5.title{
      background-color:#343761;
    }
  }
  .repo.tcl{
    h5.title{
      background-color:#e4cc98;
    }
  }
  .repo.tex{
    h5.title{
      background-color:#3d6117;
    }
  }
  .repo.turing{
    h5.title{
      background-color:#45f715;
    }
  }
  .repo.twig{
    h5.title{
      background-color:#31859c;
    }
  }
  .repo.unified-parallel-c{
    h5.title{
      background-color:#755223;
    }
  }
  .repo.unrealscript{
    h5.title{
      background-color:#a54c4d;
    }
  }
  .repo.vcl{
    h5.title{
      background-color:#0298c3;
    }
  }
  .repo.vhdl{
    h5.title{
      background-color:#543978;
    }
  }
  .repo.vala{
    h5.title{
      background-color:#ee7d06;
    }
  }
  .repo.verilog{
    h5.title{
      background-color:#848bf3;
    }
  }
  .repo.viml{
    h5.title{
      background-color:#199c4b;
    }
  }
  .repo.visual-basic{
    h5.title{
      background-color:#945db7;
    }
  }
  .repo.volt{
    h5.title{
      background-color:#0098db;
    }
  }
  .repo.xquery{
    h5.title{
      background-color:#2700e2;
    }
  }
  .repo.zephir{
    h5.title{
      background-color:#118f9e;
    }
  }
  .repo.edn{
    h5.title{
      background-color:#db5855;
    }
  }
  .repo.nesc{
    h5.title{
      background-color:#ffce3b;
    }
  }
  .repo.ooc{
    h5.title{
      background-color:#b0b77e;
    }
  }
  .repo.wisp{
    h5.title{
      background-color:#7582d1;
    }
  }
  .repo.xbase{
    h5.title{
      background-color:#3a4040;
    }
  }


  .repo.ecere-projects{
    @extend .repo.javascript;
  }
  .repo.gas{
    @extend .repo.assembly;
  }
  .repo.glsl{
    @extend .repo.c;
  }
  .repo.groovy-server-pages{
    @extend .repo.groovy;
  }
  .repo.htmlpdjango{
    @extend .repo.html;
  }
  .repo.htmlperb{
    @extend .repo.html;
  }
  .repo.htmlpphp{
    @extend .repo.html;
  }
  .repo.haml{
    @extend .repo.html;
  }
  .repo.json{
    @extend .repo.javascript;
  }
  .repo.jsonld{
    @extend .repo.javascript;
  }
  .repo.jade{
    @extend .repo.html;
  }
  .repo.java-server-pages{
    @extend .repo.java;
  }
  .repo.less{
    @extend .repo.css;
  }
  .repo.literate-agda{
    @extend .repo.agda;
  }
  .repo.literate-coffeescript{
    @extend .repo.coffeescript;
  }
  .repo.opencl{
    @extend .repo.c;
  }
  .repo.parrot-internal-representation{
    @extend .repo.parrot;
  }
  .repo.parrot-assembly{
    @extend .repo.parrot;
  }
  .repo.rhtml{
    @extend .repo.html;
  }
  .repo.scss{
    @extend .repo.css;
  }
  .repo.ston{
    @extend .repo.smalltalk;
  }
  .repo.sass{
    @extend .repo.css;
  }
  .repo.scaml{
    @extend .repo.html;
  }
  .repo.stylus{
    @extend .repo.css;
  }
}