#footer {
	display:block;
	width: 100%;
	background-color: $main-light;
	color: $light-text-main;
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	// @include box-shadow(0px,0px,10px,rgba(0,0,0,0.5));
	.github-links{
		list-style-type:none;
		float:right;
		li{
			display: block;
			float: left;
		}
	}
}
